%input{type:"hidden", value:"#{@league.roster_spots}", id:"roster_spots"}
%input{type:"hidden", value:"true", id:"draft_view"}
%input{type:"hidden", value:"#{@league.id}", id:"league_id"}
#league_info
  
.draftboard
  #round_info.row-fluid
  #rosters.row-fluid

#draft_pick_made_modal.modal.hide
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} x
    %h3 A Pick Has Been Made!
  .modal-body       
       
  .modal-footer

#draft_pick_missed_modal.modal.hide
  .modal-header
    %button{type: "button", class: "close", data: {dismiss: "modal"}} x
    %h3 A Pick Has Been Missed!
  .modal-body       
       
  .modal-footer

<audio>
<source src="/sportscenter.mp3"></source>
Your browser isn't invited for super fun audio time.
</audio>

:javascript
  jQuery(function() {
    window.app.draftBoardView = new DraftFu.Views.DraftBoardView({
      model: app.LeagueInfo,
      league_id: $("#league_id").val(),
      roster_spots: $("#roster_spots").val()
    });

    window.app.LeagueInfo.fetch();
  })



