#draftboard
  #timer
  #round_info
  #rosters

.modal.hide.fade.pickMadeModal
  .modal-body
    %h2
      %span.team_name
      %span picked
      %span.player_name

.modal.hide.fade.pickMissedModal
  .modal-body
    %h2
      %span.team_name
      %span missed their picked

:javascript
  jQuery(function() {
    Draftboard.init(#{@league.to_json}, #{@current_pick.to_json(:include => {:team => {:include => {:draftPicks => {:include => :player}}}})}, #{@upcoming_picks.to_json(:include => :team)}, #{@rosters.to_json(:include => {:draftPicks => {:include => :player }})});
  });