%input{type:"hidden", value:"#{@league.id}", id:"league_id"}
%input{type:"hidden", value:"", id:"round"}
%input{type:"hidden", value:"", id:"pick"}
%input{type:"hidden", value:"", id:"team_id"}
.row-fluid
  #player_list.span7
    .players