%h2=@league.name
%h3 Teams
- if @league.teams.empty?
  %p 
    You need to add some teams
    =link_to "click here", {:controller=>"teams",:action=>"new",:league_id=>@league.id}
- else
  %ul
    -for team in @league.teams
      %li
        =team.name
        =link_to "edit", edit_team_path(team)
        =link_to "draft", draft_team_path(team)
    %li
      Add another team
      =link_to "click here", {:controller=>"teams",:action=>"new",:league_id=>@league.id}
%h3 Draft
%p= "<b>Round:</b> #{@league.round} | <b>Pick:</b> #{@league.pick}".html_safe
=link_to "Go to the draft", league_draft_path(@league)