// Place all the styles related to the Draft controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.clear {
  clear: both;
}

.stats {
  margin-left: 20px;
  float: left;
  background: #292929;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: inset 0px 1px 1px black, 0px 1px 1px #666;
  .stat {
    font-size: 15px;
  }
}

#round_info img.trophy, .draftboard #round_info img.trophy {
  height: 30px;
  position: relative;
  top: 20px;
  margin-left: 10px;
}

.draftboard {

  // #round_info {
  //   padding: 20px 0;
  //   color: #999;
  //   background-color: #333;
  //   font-size: 20px;
  //   position: fixed;
  //   z-index: 99;
  //   .current_drafter {      
  //     margin-left: 20px;
  //   }
  // }
  // #rosters {    
  //   padding-top: 80px;
  //   .roster_team {
  //     position: fixed;
  //     z-index: 99;
  //     padding: 5px;
  //     background-color: #F59C0D;
  //     width: 14%;
  //     h4 {
  //       font-size: 20px;
  //       color: #fff;
  //     }
  //   }
  // }
  .roster_team {
    text-align:center;
  }
  .roster {
    margin-top: 20px;
  }
  .players {
    padding-top: 10px;
    .player {
      position: relative;
      margin-bottom: 10px;
      img {
        width: 25px;
      }
      .info {
        width: 140px;
        margin-left: 0px;
        .name {
          margin-bottom: 0;
          width: 140px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      .bye_week {
        position: absolute;
        right: 5px;
        bottom: 2px;
        color: #999;        
      }
      .position {
        position: absolute;
        right: 5px;
        top: 2px;
        color: #999;
      }
    }
  }
  .undrafted {
    padding: 10px;
    font-size: 13px;
    border: none;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    &.active {
      background-color: #ccc;
      color: #fff;
    }
    &.active.current {
      background-color: #FBF7D9;
      color: #C09853;
    }
    &.missed {
      background: #F2DEDE;
      color: #B94A48;
    }
  }
  #round_info {
    padding: 20px 0;
    img {
      height: 70px;
      float: left;
      margin-left: 20px;
    }
    .current_drafter {
    }
    .pause, .resume {
      position: absolute;
      right: 120px;
      bottom: 35px;
    }
  }
}

#round_info {  
  padding: 20px;
  color: #999;
  background-color: #333;
  font-size: 20px;
  position: relative;

  img {
    height: 70px;
    float: left;
  }

  span {
    color: #fff;
  }

  .draft_clock {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    right: 0;
    background-color: #d33;
    span {
      margin-top: 45px;
      display: block;
      text-align: center;
    }
  }

  .draft_status {
    margin-top: 25px;
    float: left;
  }

  .draft_info {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    .current_drafter {
      margin-bottom: 10px;
    }
    .current_round {
      float: left;
    }
    .current_pick {
      float: left;
      margin-left: 10px;
    }
  }
}
.player {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
  .profile_pic {
    width: 35px;
    float: left;
  }
  .info {
    float: left;
    margin-left: 20px;
    .name {
      font-weight: bold;
      color: #333;
      margin-bottom: 5px;
    }
    .team {
      font-weight: normal;
      color: #999;
    }
    &.QB .name {
      color: #8AC010;
    }
    &.RB .name {
      color: #FA6900;
    }
    &.WR .name {
      color: #00A0B0;
    }
    &.TE .name {
      color: #CC333F;
    }
    &.K .name {
      color: #F56991;
    }
  }
  .draft {
    float: right;
    margin-top: 5px;
  }
  .round {
    float: right;
    font-size: 20px;
    margin-top: 12px;
    color: #999;
  }
}
.undrafted {
  background: #EEE;
  padding: 25px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  border: dashed 1px #BBB;
  color: #BBB;
}

.filters {
  margin-bottom: 20px;
  margin-top: 20px;
  .positions {
    float: left;
    margin-right: 10px;   
    margin-top: 10px;
    a {
      padding: 10px;
      &.active {
        background-color: #ddd;
      }
    }
  }
  .player_search {
    float: left;
    margin-right: 10px;
    padding: 15px;
    font-size: 15px;
    width: 130px;
  }
  .player_search_button {
    float: left;
  }
}