.clear {
  clear: both;
}

.modal {
  text-align: center;
}

html {
  background-color: #DFDFDF;
}

#timer {
  width: 100%;
  text-align: center;
  background-color: #000;
  height: 50px;
  position: relative;

  span {
    position: relative;
    z-index: 1;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
  }

  #countdown_bar {
    position: absolute;
    top: 0;
    right: 0%;
    left: 0;
    bottom: 0;
    background-color: #d33;
    z-index: 0;
    transition: right 0.5s ease;
  }
}

#dashboard {
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 1280px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

  .chart-wrapper {
    margin: 1%;

    h3 {
      color: #777;
      margin-bottom: 20px;
      text-align: center;
    }

    .bye-weeks-chart {
      width: 750px;
      float: left;

      #bye-weeks {
        height: 350px;
        width: 750px;
      }
    }

    .positions-chart {
      float: left;
      width: 475px;
      margin-left: 2%;

      #positions {
        height: 350px;
        width: 475px;
      }
    }



  }

  .info-wrapper {
    margin-bottom: 50px;

    .info {
      float: left;
      width: 18%;
      margin-right: 2%;
      text-align: center;

      h3 {
        color: #777;
        border-bottom: solid 1px #ddd;
      }

      img {
        height: 100px;
      }

      span {
        color: #333;
        font-size: 50px;
        line-height: 100px;

        &.a {
          color: #2BC45B;
        }
        &.b {
          color: #8ABE45;
        }
        &.c {
          color: #E9B82F;
        }
        &.d {
          color: #E2752E;
        }
        &.f {
          color: #DA322D;
        }
      }

      &.average {
        margin-right: 0;
      }

      &.current-pick {
        margin-left: 1%;
      }
    }
  }
}

#draftboard {
  background-color: #DFDFDF;
  // 1080p
  // width: 1920px;
  // height: 1080px;
  width: 1280px;
  min-height: 720px;

  &.teams-8 {
    .roster {
      width: 11.6%;
    }
  }

  .roster {
    margin-top: 20px ;
    float: left;
    width: 7.4%;
    margin-left: 1%;
    &:first-child {
      margin-left: 0;
    }
  }

  .roster_team {
    text-align: center;

    h4 {
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 10px;
      font-size: 13px;
    }

    &.grade {
      // border: solid 1px #000;

      &.a h4 {
        color: #2BC45B;
      }
      &.b h4 {
        color: #8ABE45;
      }
      &.c h4 {
        color: #E9B82F;
      }
      &.d h4 {
        color: #E2752E;
      }
      &.f h4 {
        color: #DA322D;
      }
    }
  }

  .players {
    padding-top: 10px;

    .player {
      position: relative;
      margin-bottom: 10px;
      padding: 10px 5px;
      background-color: #fff;
      box-shadow: 0 0 2px #999;

      &.grade {
        border: solid 1px;

        &.a {
          border-color: #2BC45B;
        }
        &.b {
          border-color: #8ABE45;
        }
        &.c {
          border-color: #E9B82F;
        }
        &.d {
          border-color: #E2752E;
        }
        &.f {
          border-color: #DA322D;
        }
      }
      .info {
        width: 100%;
        margin-left: 0px;
        overflow: hidden;

        .name {
          margin-bottom: 0;
          width: 140px;
          overflow: hidden;
          white-space: nowrap;
        }

        &.QB .name { color: #8AC010 }
        &.RB .name { color: #FA6900 }
        &.WR .name { color: #00A0B0 }
        &.TE .name { color: #CC333F }
        &.PK .name { color: #F56991 }
      }

      .bye_week {
        position: absolute;
        right: 5px;
        bottom: 2px;
        color: #999;
      }

      .position {
        position: absolute;
        right: 5px;
        top: 2px;
        color: #999;
      }
    }
  }

  .undrafted {
    padding: 10px;
    font-size: 13px;
    border: none;
    margin-bottom: 10px;
    background-color: #e9e9e9;
    text-align: center;
    color: #bbb;

    &.missed {
      background: #F2DEDE;
      color: #B94A48;
    }

    &.active {
      background-color: #FBF7D9;
      color: #C09853;
    }
  }
}

#round_info {

  color: #999;
  background-color: #333;
  font-size: 20px;
  position: relative;

  .current_pick {
    float: left;
    padding: 10px;
    background: #000;
    text-align: center;

    .info {
      margin-bottom: 10px;
      text-align: center;
      color: #fff;
    }
  }

  .future_picks {
    float: left;
    padding: 20px 0 0;
    width: 70%;
    overflow-x: scroll;
    margin-left: 40px;

    .future_pick {
      float: left;
      margin-right: 10px;
      width: 9%;

      img {
        display: block;
        margin-bottom: 5px;
      }
      span {
        display: block;
        text-align: center;
        font-weight: normal;
        font-size: 15px;
        margin-top: 5px;
        color: #999;
      }
    }

    .table_wrapper {
      width: 830px;
    }

    table {
      td {
        width: 92px;
        height: 70px;
        img {
          width: 92px;
          height: 70px;
        }
      }
    }
  }

  img {
    height: 70px;
    // float: left;
  }
  .current_drafter {
  }
  .pause, .resume {
    position: absolute;
    right: 120px;
    bottom: 35px;
  }

  span {
    color: #fff;
  }

  .draft_clock {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    right: 0;
    background-color: #d33;
    span {
      margin-top: 45px;
      display: block;
      text-align: center;
    }
  }

  .draft_status {
    margin-top: 25px;
    margin-left: 20px;
    float: left;
  }

  .draft_info {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    .current_drafter {
      margin-bottom: 10px;
    }
    .current_round {
      float: left;
    }
    .current_pick {
      float: left;
      margin-left: 10px;
    }
  }

  .stats {
    display: none;
    float: left;
    padding: 8px 20px;
    border-radius: 10px;
    .stat {
      font-size: 15px;
    }
  }


  /* Landscape phone to portrait tablet */
  @media (max-width: 1024px) {
    .current_pick {
      width: 100%;
      padding: 20px;
    }
  }
}

#team_draft {

  .roster_wrapper, .available_players_wrapper {
    padding: 10px 20px;
  }

  .available_players_wrapper h2 {
    font-size: 2em;
  }

  .my-roster-icon {
    color: #ddd;
    cursor: pointer;
    margin-right: 10px;
  }

  #my-roster-wrapper {

    h2 {
      float: left;
      margin-left: 20px;
    }

    .close {
      margin-top: 10px;
      margin-right: 15px;
    }

    #my_roster {
      max-height: 300px;
      overflow: scroll;

      .chosen_pick {
        text-align: left;
      }
    }
  }

  #players {
    background-color: #fff;

    #players_nav {
      span {
        float: left;
        width: 50%;
        text-align: center;
        background-color: #ddd;
        font-size: 20px;
        padding: 20px 0;
        color: #bbb;
        cursor: pointer;

        &.active {
          background-color: #fff;
          color: #999;

          &:hover {
            background-color: #fff;
          }
        }

        &:hover {
          background-color: #eee;
        }
      }
    }

    .filters {
      margin-bottom: 20px;

      .positions {
        float: left;
      }
      span {
        float: left;
        color: #999;
        padding: 8px;
        cursor: pointer;

        &:hover {
          border-bottom: solid 1px #999;
        }

        &.active {
          color: #333;
          border-bottom: solid 1px #333;
        }
      }

      input {
        float: left;
        margin-left: 10px;
        width: 24%;
        height: 30px;
      }


      /* Landscape phone to portrait tablet */
      // @media (max-width: 767px) {
      //   input {
      //     width: 150px;
      //     padding: 15px;
      //   }
      // }
    }
  }

  #scrolling_draft_board {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    z-index: 100;

    .control {
      float: right;
      height: 30px;
      line-height: 30px;
      background-color: #ddd;
      font-weight: bold;
      position: absolute;
      top: 0px;
      right: 0;
      padding: 0 20px;
      cursor: pointer;
    }

    .table_wrapper {
      max-height: 0;
      transition: max-height 0.5s ease;
      width: 100%;
      overflow-x: scroll;
      overflow-y: visible;
      box-shadow: 0 0 10px #333;
      -moz-box-shadow: 0 0 10px #333;

      table {
        background-color: #ddd;
        td {
          &:nth-child(even) {
            background-color: #fff;
          }
          &:nth-child(odd) {
            background-color: #eee;
          }
          h2 {
            width: 300px;
            text-align: center;
          }
          ul {
            list-style-type: none;
          }
        }
      }
    }
  }

  .empty_pick {
    font-size: 20px;
    line-height: 30px;
    color: #999;
  }

  .empty_pick, .chosen_pick, .available_player {
    height: 30px;
    padding: 10px;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;

    &.undraftable {
      opacity: 0.3;
      cursor: no-drop;

      &:hover {
        background: #eee;
      }
    }

    &:hover {
      background-color: #ddd;
    }

    .name {
      line-height: 30px;
      height: 30px;
      display: inline-block;
      font-size: 20px;
      color: #666;
    }

    .btn {
      float: right;
      margin-right: 30px;
    }

    .position {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #999;
    }

    .bye_week {
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #999;
    }

    &.QB .name {
      color: #8AC010;
    }
    &.RB .name {
      color: #FA6900;
    }
    &.WR .name {
      color: #00A0B0;
    }
    &.TE .name {
      color: #CC333F;
    }
    &.PK .name {
      color: #F56991;
    }
    &.DEF .name {
      color: #000;
    }
  }

  #available_players {
  }

}

@media (max-width: 1024px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }

  #team_draft .roster_wrapper {
    display: none;
  }

  #team_draft #players .filters {
    text-align: center;

    .positions {
      display: inline-block;
      margin-bottom: 10px;
      float: none;
    }

    input {
      margin-left: 0;
      width: 100%;
    }
  }

  #round_info .current_pick {
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;

    img {
      display: none;
    }

    .info {
      margin: 0;
    }

    .stats {
      display: none;
    }
  }

  #timer {
    position: fixed;
    z-index: 99;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus, textarea:focus, input:focus {
    font-size: 16px;
    background:#eee;
  }
}